# Required to run your project under the correct environment.
language: php

# Versions of PHP you want your project run with.
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.1

services:
  - memcached
  - redis-server
  - mysql

install:
  - tests/scripts/memcache.sh
  - tests/scripts/redis.sh
  - composer require satooshi/php-coveralls:~0.6@stable

before_install:
 - chmod +x tests/scripts/*

# Commands to be run before your environment runs.
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev
  - mkdir -p build/logs
  - mysql -u root < Edge/structure.sql

# Commands you want to run that will verify your build.
script: phpunit --coverage-clover build/logs/clover.xml

# allow_failures: Allow this build to fail under the specified environments.
# fast_finish: If your build fails do not continue trying to build, just stop.
matrix:
  allow_failures:
    - php: 7.1
  fast_finish: true

# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: always

after_success:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php vendor/bin/coveralls -v; fi;'